@import "settings";
@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Engagement);

body {
	background: url("../images/pattern-noir.jpg") top right;
	background-attachment: fixed;
}
p { margin: 0; }
#hero {
	@include grid-column(12);
	padding: 1em;
	margin-bottom: 1em;
	h1 {
		color: #eee;
		font-size: 2em;
		margin-bottom: 1em;
		padding-right: 200px;
		text-align: left;
		margin-top: 3em;
		@media #{$medium-up} {
				margin-top: 0;
			}
		span {
			color: $valentin;
			font-family: 'Engagement', cursive;
			font-size: 2em;
			white-space: nowrap;
			@media #{$medium-up} {
				font-size: 3em;
				text-wrap: none;
			}
			@media #{$large-up} {
				font-size: 4em;
				text-wrap: none;
			}
		}
	}
}
#offre {
	@include grid-column(12);
	padding: 1em;
	margin-bottom: 1em;
	// heart background image
	@mixin symbol_nav_link {
		background: url("../images/red-heart-60px_03.png") no-repeat;
		background-position: 5px center;
		background-size: 50px 50px;
	}
	.tabs dd > a {
		color: #ccc;
		font-family: 'Engagement', cursive;
		font-size: 1.75em;
		padding-left: 60px;
		&:hover {
			@include symbol_nav_link;
			color: $valentin;
		}
	}
	.tabs dd.active a {
		background: #222;
		&:hover {
			@include symbol_nav_link;
		}
	}
	.tabs-content.vertical > .content {
		background: #222;
		padding-top: 1em;
		padding-bottom: 1em;
		float: none;
		h3 { color: #eee; }
		img {
			margin-bottom: 1em;
		}
		p {
			color: #eee;
			text-align: center;
			&:first-of-type {
				font-size: 2em;
			}
		}
		.prix {
			color: darken($valentin,5);
		}
		.compris {
			color: lighten($body-bg,50);
		}
		.details {
			font-size: .75em;
		}
		.buttontabcontent {
			display: block;
			margin-top: 1em;
			margin-bottom: 0;
			text-align: center;
			padding: 1em;
		}
	}
}
.reserve {
	background: url('../images/coeur-red-cta_03.png') no-repeat;
	color: #ddd;
	display: block;
	font-family: 'Engagement', cursive;
	font-size: 2.5em;
	height: 130px;
	padding-top: 40px;
	position: absolute;
	right: 50px;
	text-align: left;
	top: 50px;
	width: 130px;
	z-index: 20;
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-webkit-transform:rotate(7deg); /* Safari and Chrome */
	&:hover {
		background: url('../images/coeur-cta-hover2.png') no-repeat;
		color: $valentin;
		-webkit-animation:spin .75s linear;
    	-moz-animation:spin .75s linear;
    	animation:spin .75s linear;
	}
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
#form {
	@include grid-column( $columns:12, $last-column:true, $center:true );
	margin-bottom: 5em;
	iframe {
		border: none;
		height: 722px;
		overflow: hidden;
		width: 100%;
		h1.ss-form-title {
			font-weight: normal;
		}
	}
	@media #{$medium-up} {
		@include grid-column( $columns:6, $last-column:true, $center:true );
	}
}
.retour {
	display: block;
	position: fixed;
	bottom: -10px;
	left: 10px;
	z-index: 10;
}
